.card {
  margin-top: 1rem;
}

.state-alivrer{
  color: red;
}

.state-encours{
  color: blue;
}

.state-livree{
  color: greenyellow;
}

body .navbar-light .navbar-nav .nav-link.active{
  color: red
}

